* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-OswaldFont);
}

.active {
  color:pink !important;
}

.my-color {
  color: red;
}

.mainmenu {
  background-color: black;
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
  padding: 20px 18px;
}

.mainmenu ul li {
  color: #fff;
  display: inline;
  margin: 0 10px;
  cursor: pointer;
}

.logo {
  color: #fff;
}

.mainmenu ul a{
  color: #fff;
  display: inline;
  margin: 0 10px;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}
